*{
    padding: 0;
    margin: 0;
}
.container{
    width: 100%;
    height: 100vh;
    background: #f3fbff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-box{
    width: 60%;
    margin: auto;
    line-height: 0;
    background-image: url(https://icon2.cleanpng.com/20171220/lvw/clouds-5a3aef39bfc2a2.9292299415138117697855.jpg);
    overflow: hidden;
    position: relative;
}
.image-wrap{
    width: 20px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}
span{
    width: 1px;
    height: 100%;
    cursor: ew-resize;
    background: #fff;
    position: absolute;
    left: 20px;
    top: 0;
}
.arrow{
    width: 40px;
    position: absolute;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
}
